$primary-color: #ffff;
$secondary-color: rgba(255, 255, 255, 0.582);
$button-color: rgba(255, 255, 255, 0.205);
$button-hover: rgba(255, 255, 255, 0.411);

$font-family: 'Source Sans Pro', sans-serif;

$break-point: '960px';

body {
  background-color: white;
  color: white;
  font-family: $font-family;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: $primary-color;
  font-size: 30px;
}

h2 {
  color: $secondary-color;
  font-size: 28px;
  line-height: 28px;
  margin-top: -10px;
}

///////////////////////////////////////
////////   BACKGROUNG IMAGE  //////////
///////////////////////////////////////

.background-container {
  position: relative;
  height: 420px;
  padding-top: 40px;
  overflow: hidden;
}

.background-image {
  background-color: rgb(58, 58, 58);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transform: scale(1.6);
  left:-15px;
  right:-15px;
  top:-15px;
  bottom:-15px;
  filter: blur(25px) brightness(0.4);
  -webkit-filter: blur(50px) brightness(0.4);
  -moz-filter: blur(50px) brightness(0.4);
  -ms-filter: blur(50px) brightness(0.4);
  -o-filter: blur(50px) brightness(0.4);
  position: absolute;
  z-index: 0;
}

///////////////////////////////////////
////////       ELEMENTS      //////////
///////////////////////////////////////

.price-service {
  border: white solid 1px;
  border-radius: 5px;
  max-width: 300px;
}

.content-container {
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.image {
  width: 230px;
  height: 230px;
}

.audioSample button {
  width: 230px;
  background-color: $button-color;
  color: $primary-color;
  border: none;
  height: 40px;
  span {
    vertical-align: middle;
    font-size: 14px;
  }
  img {
   vertical-align: middle;
  }
  &:hover {
    background-color: $button-hover;
    cursor: pointer;
  }
}

.title {
  padding-top: 0px;
  margin-top: -20px;
  padding-left: 20px;
  max-width: 340px;
}

.info {
  margin-top: 25px;
  max-width: 320px;
  padding-left: 20px;
  ul {
    padding-left: 0;
    color: $secondary-color;
    font-size: 15px;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: $primary-color;
    &:hover{
      text-decoration: underline;
    }
  }
}

///////////////////////////////////////
////////        MOBILE       //////////
///////////////////////////////////////


@media (max-width: $break-point) {

  body {
    text-align: center;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  .background-container {
    height: 900px;
  }

  .content-container {
    display: inline;
    top: 20px;
    width: 90%;
  }

  .image {
    margin: auto;
    width: 240px;
    height: 240px;
  }

  .audioSample button {
    width: 240px;
    height: 40px;
  }

  .info {
    padding-left: 0px;
    width: 240px;
    margin: auto;
    ul {
      font-size: 14px;
    }
  }

  .title {
    padding-left: 0px;
    width: 240px;
    margin: auto;
  }

  .price-service {
    margin: auto;
    margin-top: 30px;
    height: 315px;
  }

}